<% let i = 0; %>
<% JSON.parse(data).forEach(event => { %>
<div class="event">
	<div class="event-text">
		<h3><%= event.name %></h3>

		<p>Type Of Event: <%= event.type %></p>
		<p>Date Of Event: <%= event.date %></p>
		<p>Location: <%= event.location %></p>

		<p>Description: <%= event.description %></p>

		<p>Launches associated with event: 
		<% if (event.launches.length > 0) { %>
		<ul>
			<% event.launches.forEach((launch) => { %>
			<form action="/launches" id="form<%= i %>" method="POST">
				<input type="text" style="display: none;" name="query" value="<%= launch %>">
				<li id="link<%= i %>" class="link"><%= launch %></li>
			</form>
			<script>
				document.querySelector("#link<%= i %>").addEventListener("click", function(e) {
					e.preventDefault();
					document.querySelector("#form<%= i %>").submit();
				});
			</script>
			<% i++; %>
			<% }) %>
		</ul>
		<% } else { %>
			No launches associated with event
		<% } %>
		</p> 
		
		<% if (event.newsUrl || event.videoUrl) { %>
		<p>Links:</p>
		<ul>
			<% if (event.newsUrl) { %>
			<li><a href="<%= event.newsUrl %>" class="link">News</a></li>
			<% } %> <% if (event.videoUrl) { %>
			<li><a href="<%= event.videoUrl %>" class="link">Video <% if (event.live) { %> (Streamed) <% } %></a></li>
			<% } %>
		</ul>
		<% } %>
	</div>
	<div class="event-image">
		<div
			class="event-image-wrapper"
			style="
				background-image: url('<%= event.image %>');
				background-size: cover;
				background-position: center;
			"
		></div>
	</div>
</div>
<% }) %>
