<%- include("../partials/header"); %>

<div class="header">
	<a href="/"><h1>It's SpaceTime!</h1></a>

	<%- include("../partials/searchBar"); %>
</div>

<%- include("../partials/eventsComp"); %> <%-
include("../partials/pageNavButtons", { path: "/events" }); %> <%-
include("../partials/footer"); %>
