<%- include("../partials/header"); %>

<div class="header">
	<a href="/"><h1>It's SpaceTime!</h1></a>

	<%- include("../partials/searchBar"); %>
</div>

<p>
	SpaceTime is a webpage related to rocket launches all around the world. If you
	are interested in the launch of a certain rocket or in the activity of rocket
	launches of a certain company you are free to search for that information on
	our website.
</p>
<strong>* note that this webpage was made during Hack TUES infinity</strong>

<%- include("../partials/rockets"); %> <%- include("../partials/pageNavButtons",
{ path: "" }); %> <%- include("../partials/footer"); %>
