<%- include("../partials/header"); %>

<div class="header">
	<a href="/"><h1>It's SpaceTime!</h1></a>

	<%- include("../partials/searchBar"); %>
</div>

<%- include("../partials/rockets"); %> <%- include("../partials/pageNavButtons",
{ path: "/launches" }); %> <%- include("../partials/footer"); %>
