<%- include("../partials/header"); %>
<a href="/"><h1>It's SpaceTime!</h1></a>
<%- include("../partials/searchBar"); %> <%- include("../partials/rockets"); %>
<%- include("../partials/pageNavButtons"); %> <%- include("../partials/footer");
%>
